// Font
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

$font: "Kumbh Sans", sans-serif;

// font-sizes
$font-size-main-p: 13px;

// Colors
// text
$clr-text-des-blue: hsl(238, 29%, 16%);
$clr-soft-red: hsl(14, 88%, 65%);

// Background gradient
$clr-soft-violet: hsl(273, 75%, 66%);
$clr-soft-blue: hsl(240, 73%, 65%);

// Neutral-Text
$clr-very-dark-grayish-blue: hsl(240, 5%, 41%);
$clr-dark-grayish-blue: hsl(240, 6%, 50%);

// Dividers
$clr-divider: hsl(240, 5%, 91%);

// Base
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
  line-height: 18px;
}

main {
  height: 100vh;
  background: linear-gradient(to top, $clr-soft-blue, $clr-soft-violet);
  display: grid;
  place-items: center;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 88px;
  margin-bottom: 30px;
}

// Styling
// Accordion
.card {
  position: relative;
  width: 90vw;
  max-width: 920px;
  background-color: white;
  border-radius: 20px;
  padding: 50px 25px;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);

  .accordion {
    .accordion-item {
      border-bottom: 1px solid $clr-divider;
      padding: 20px 0;

      .accordion-item-header {
        font-size: $font-size-main-p;
        font-weight: 400;
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.2s ease-in-out;

        &.active {
          font-weight: 700;
        }

        &:hover {
          color: $clr-soft-red;
        }

        &::after {
          content: url("../images/icon-arrow-down.svg");
          position: absolute;
          right: 0;
          transition: 0.2s ease-in-out;
        }
        &.active::after {
          transform: rotate(180deg);
        }
      }

      .accordion-item-body {
        max-height: 0;
        overflow: hidden;

        .accordion-item-body-content {
          font-size: 12px;
        }
      }
    }
  }
}

// image container

.box {
  display: none;
}

picture {
  position: absolute;
  top: 0;
  left: 45%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

picture:nth-of-type(2) {
  position: absolute;
  top: 10%;
  left: 48%;
  transform: translate(-50%, -50%);
}

// Media queries
@media (min-width: 768px) {
  body {
    $font-size-p: 14px;
  }

  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  picture {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
  }
  picture:nth-of-type(2) {
    position: absolute;
    top: 35%;
    left: -70px;
    transform: translate(-50%, -50%);
  }

  .box {
    display: block;
    position: absolute;
    top: 60%;
    left: 0;
    transform: translate(-50%, -50%);
  }
}
